################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

\obj
\bin
\.vs
/.vs/DotNetCoreSamples/v15/Server/sqlite3
*.suo
/.vs/ConsulSample/v15/Server/sqlite3
